header {
    width: 100%;
    padding:  28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    font-size: 24px;
    color: #e9a209
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}