header {
    width: 100%;
    padding:  28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    font-size: 24px;
    color: #e9a209;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav_item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav_item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 12px 0px;
    }

    .mobile_nav_item a {
    text-decoration: none; 
    color: #1d1d1d;       
    font-weight: 600;     
    text-align: center;
}
}
