@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    --color-primary-1:#fff9ea;
    --color-primary-2:#ffe8b4;
    --color-primary-3:#f8d477;
    --color-primary-4:#ffe100;
    --color-primary-5:#ffcb45;
    --color-primary-6:#e9a209;

    --color-neutral-0:#ffffff;
    --color-neutral-1:#1d1d1d;

}
    
*{  font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-primary-1)
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
    
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    text-decoration: none;
    color: var(--color-neutral-1);
    font-size: 1.25rem;
    transition: color 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}